[user]
	name = keimoon
	email = keimoonvie@gmail.com
	signingkey = 8943C01406E4BC5D
[commit]
	gpgsign = true
[color]
	ui = auto
[gpg]
	program = /usr/bin/gpg2
[pager]
	branch = false
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
