///////////
// Layout
//////////
$font-size: 12px;

/////////////
// Colors
////////////
$background-color: #1d2330;
$background: rgba($background-color, 0.5);
$background-dark-color: #0c1220;
$background-dark: rgba($background-dark-color, 0.6);
$background-orange-color: #ffa700;
$background-orange: rgba($background-orange-color, 0.2);
$background-yellow-color: #f1fa8c;
$background-yellow: rgba($background-yellow-color, 0.4);
$background-red-color: #ff6e67;
$background-red: rgba($background-red-color, 0.4);
$background-purple-color: #bd93f9;
$background-purple: rgba($background-purple-color, 0.2);
$background-light-green-color: #7fbf7f;
$background-light-green: rgba($background-light-green-color, 0.2);
$background-blue-color: #4c4cff;
$background-blue: rgba($background-blue-color, 0.2);
$background-cyan-color: #007f7f;
$background-cyan: rgba($background-cyan-color, 0.2);

$foreground: #eee;
$foreground-light-green: #66b266;
$foreground-dark-green: #006600;
$foreground-cyan: #00b2b2;
$foreground-purple: #c79dd7;
$foreground-orange: #ffa700;
$foreground-red: #ff7f7f;
$foreground-yellow: #f1fa8c;

$foreground-unfocused: #ddd;
$foreground-focused: $foreground-orange;
$foreground-urgent: $foreground-red;

///////////////////
// General styles
//////////////////
* {
    border: none;
    border-radius: 0;
    font-family: Hasklig, "Font Awesome 5 Pro", "Font Awesome 5 Brands", Symbola, sans-serif;
    font-size: $font-size;
    min-height: 0;
    padding: 0;
}

#waybar {
    background-color: $background;
    color: $foreground;
}

//////////////////
// Module styles
/////////////////

// Custom / user
#custom-user {
    padding-left: 10px;
    padding-right: 15px;
    background-color: $background-red;
    color: $foreground;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

// Sway / workspaces
#workspaces {
    padding-left: 7px;
    button {
        padding-left: 7px;
        padding-right: 7px;
        background-color: $background;
        color: $foreground-unfocused;

        &:hover {
            box-shadow: inherit;
            text-shadow: inherit;
            background: inherit;
        }

        &.focused {
            color: $foreground-focused;
            border-bottom: solid 2px $background-orange-color;
        }

        &.urgent {
            color: $foreground-urgent;
        }
    }
}

// Sway / window
#window {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-yellow;
    color: $foreground;
}

window#waybar.solo {
    #window {
        background-color: $background-dark;
        color: $foreground-yellow;
    }
}

window#waybar.empty {
    #window {
        background-color: $background-dark;
        color: $foreground-yellow;
    }
}

// Pulseaudio
#pulseaudio {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-orange;
}

#backlight {
    padding-left: 10px;
    padding-right: 10px;
}

// Custom / logout
#custom-logout {
    background-color: $background-purple;
    color: $foreground-cyan;
    padding-left: 25px;
    padding-right: 15px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

// Custom / restart
#custom-restart {
    background-color: $background-purple;
    color: $foreground-orange;
    padding-right: 15px;
}

// Custom / shutdown
#custom-shutdown {
    background-color: $background-purple;
    color: $foreground-red;
    padding-right: 15px;
}

// Custom / CPI
#custom-cpu {
    padding-left: 15px;
    padding-right: 10px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: $background-red;
    color: $foreground;

    &.warning {
        color: $foreground-orange;
    }

    &.critical {
        color: $foreground-red;
    }
}

// Memory
#memory {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-orange;
    color: $foreground;

    &.warning {
        color: $foreground-yellow;
    }

    &.critical {
        color: $foreground-red;
    }
}

#disk {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-light-green;
}

// Temperature
#temperature {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-cyan;

    &.critical {
        background-color: $background-orange;
    }
}

// Battery
#battery {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-purple;
}

// Wifi
#network {
    padding-left: 10px;
    padding-right: 10px;
    background-color: $background-blue;
}
